/* .main {
	border: 1px solid black;
	text-align: center;
} */



.infoAboutUs {
	/* border: 1px solid black; */
	display: flex;
  /*gap: horizontal vertical;*/
  gap: 25px 5%;
  height: 100%;

}

.infoAboutUs p {
  font-size: min(1.4vw, 25px);
}

.displayImage {
  flex: 35%;
  margin: 2% 0%;
  text-align: left;
} 

.displayText {
  flex: 65%;
  margin: 2% 0%;

  text-align: justify;

}

img.image {
  border: 1px solid grey;

  height: 100%;
  width: 100%;
}

.main {
  /* border: 1px solid black; */

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 90%;
  height: 36vw;
  padding: 2% 5%;
  /*overflow: auto;*/
  background-color: white;
  /* display: flex; */

}