.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidenav {
  order: 1;
  /*flex-grow: 1;*/
  /*display: inline-block;*/
  align-self: stretch;
}

.main {
  /*display: inline-block;*/
  background-color: #ffffff;
  order: 2;
  width: calc(100% - 300px);
  /*float: right;*/
  text-align: center;
  /*flex-wrap: wrap;*/
}

.flowerlogo {
  display: block;
  margin-right: auto;
  margin-left: auto;   
  height: 100%;
}
