/* Main content */
/*.main {*/
  /*margin-left: 200px;*/ /* Same as the width of the sidenav */
  /*font-size: 20px;*/ /* Increased text to enable scrolling */
  /*padding: 0px 10px;*/
/*}*/


/* image size */
.content {
  display: flex;
  height: 100%;
  width: 100%;

}

.sidenav {
  order: 1;
}

.main {
  background-color: #ffffff;
	order: 2;
  flex-grow: 1;
	text-align: center;
}

.flowerlogo {
  display: block;
  margin-right: auto;
  margin-left: auto;   
  height: 100%;
}
