.content {
    width: 90%;
}

.main {
    display: block;
    width: max(50vw, 70%);
    /* min-width: 600px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    overflow: hidden;
}

.main h3, .summary h3{
    font-size: min(3.3vw , 30px);
}

.main hr {
    border: 1px solid black;
}


.main .top #products table * {
    padding: 0 0.6vw;
}

.nameCol {
    width: 50%;
}

.priceCol {
    width: 20%;
}

.qtyCol {
    width: 15%;
}

.actionCol {
    width: 15%;
}

#submitBdiv {
    margin-top: 7%;
    text-align: center;
}

#submitBdiv button {
    border: 1px solid #8cc495;
    background-color: #dbf7cb;
    font-size: min(2vw,18px);
    height: min(5vw, 45px)
}

#shipMethod tr {
    margin-bottom: 10px;
}
#shipMethod {
    margin: 2%;
}
.shipInfoLabel {
    width: 140px;
    margin-top: 5px;
}

.shipInfoInput {
    width: min(30vw,250px);
    pointer-events: none;
    border: 1px solid #31313180;
    background-color: #ececec;
    margin-top: 5px;
}

.shipMethodOpts {
    display: inline-block;
    width: 250px;
}
.shipMethodOpts th{
    width: 200px;
}

.qty {
    margin-left: 6%;
    align-self: center;
    width: 50%;
}