/* .main {
	border: 1px solid black;
	text-align: center;
} */

.inputLogin {
	/*border: 1px solid black;*/
	text-align: center;
	background: white;

	/*width: 600px;*/
	height: 76%;
	/*padding: 50px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-login {
  display: flex;
  /*margin-top: 20px;*/

}

.btn-label {
  flex: 20%;
  /*border: 1px solid black;*/
  margin-left: 50px;
  text-align: left;
}

.btn-input {
  flex: 80%;
  margin-right: 50px;
  /*border: 1px solid black;*/
  /*text-align: left;*/
}

.main {
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    width: 90%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
    background-color: white;
    /* display: flex; */
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}

.pageTitle {
    padding-top: 25px;
    padding-bottom: 70px;
    height: 50px;
    text-align: center;
    font-size: 40px;
}