.bar {
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    background: white;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
    color: black;
}

.i1 {
    order: 1;
    width: 30%;
    /* border: 1px solid black; */
    
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.i2 {
    width: 30%;
    order: 2;
    /* border: 1px solid black; */
}

.i2 img {
    display: block;
    height: 100%;
    margin: auto;
    /* border: 1px solid black; */
}

.i3 {
    width: 30%;
    order: 3;
    /* border: 1px solid black; */
    text-align: right;

    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

span {
    margin: 0 10px;
}

.i1 a, .i3 a{
    display: inline-block;
    margin-top: 10px;
    /* height: 60%; */
    text-align: center;
}

/*trying to set icon for 2 buttons, but it cause text to drop down, so set it later
/* .accIcon {
    content: url('/resources/images/accIcon.png');
}

.cartIcon {
    content: url('/resources/images/cartIcon.png');
} */

/* .i3 img {
    height: 35px;
} */