.bar {
    display: block;
    width: 100%;
    height: 7vw;
    background: white;
}

a {
    text-decoration: none;
    color: black;
}

.i1 {
    height: 100%;
    float: left;
    width: 44%;
    padding-left: 3%;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}

.i2 {
    height: 100%;
    float: left;
    width: 12%;
}

.i2 img {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}

.i3 {
    width: 30%;
    height: 100%;
    float: right;
    padding-right: 3%;

    text-align: right;

    font-family: 'Be Vietnam';
    font-style: normal;

    overflow: hidden;
    white-space: nowrap;
}

span {
    margin: 0 1%;
    font-size: 1.2vw;
    /* border: 1px solid black; */
}

.i1 a, .i3 a{
    font-size: 1.4vw;

    text-align: center;
}

/*trying to set icon for 2 buttons, but it cause text to drop down, so set it later
/* .accIcon {
    content: url('/resources/images/accIcon.png');
}

.cartIcon {
    content: url('/resources/images/cartIcon.png');
} */

/* .i3 img {
    height: 35px;
} */