.content a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 40px;
}

.content a {
    font-size: min(2.3vw, 20px);
    height: min(6vw, 45px);
    width: min(20%, 150px);
}

.detail {
    /* margin-top: 20px; */
    margin: 30px;
}
table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 30px;
    width: min(60vw, 550px);
    font-size: min(2.7vw ,22px);
    /* border: 1px solid black; */
    /* text-align: center; */
}

.left {
    /* width: 70%; */
    width: 70%;

}

.right {
    width: 25%;
    /* width: 130px; */
}

table tr {
    height: 40px;
    /* border: 1px solid black; */
    margin: 10px;
}

label {
    /* border: 1px solid black; */
    margin-top: 10px;
}
