.content {
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    width: 90%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}
