.main {
    padding: 2% 0;
    margin: 0 auto;
    display: flex;
    height: 27vw;
    width: 70vw;
    justify-content: center;
    gap: 0 6%;
    /* border: 1px solid black; */
}

.pageTitle {
    color: #00000000;
}
.img {
    order: 1;
    text-align: end;
    height: 100%;
    border: 1px solid grey;
    
}
.img img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.vl {
    order: 2;
    border: 1px solid grey;
    margin: 2% 0;
}

.left{
    /* padding: 30px 0; */
    order: 3;
    display: inline-flex;
    flex-direction: column;
}

.left .information {
    width: 100%;
    height: 15vw;
}

.left .information h3 {
    font-size: min(35px, 2.6vw);
}

.left .information h6 {
    font-size: min(25px, 2vw);
}


.left .information p {
    font-size: min(18px, 1.7vw);
}


.left .button {
    width: 15vw;
    text-align: center;
    margin-top: 3%;
}

.left button {
    height: min(max(25px, 40px), 4.5vw);
    font-size: min(max(1.3vw, 1.3vw), 18px);
    text-align: center;
}

.left button {
    background-color: #3cbd72;
}