.main {
    display: block;
    width: min(75%, 600px);
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    text-align: end;
}

table {
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 100%;
}

table td {
    font-weight: 600;
    font-size: min(2vw,17px);
    width: 10%;
    /* border: 1px solid black; */
}

.input {
    width: 20%;
}

.input input {
    width: 100%;
}

#space {
    margin-top: 10px;
    height: 50px;
}

#showPswdRow {
    font-size: min(2vw,15px);
}