.inputLogin {
	/*border: 1px solid black;*/
	text-align: center;
	background: white;

	/*width: 600px;*/
	height: 76%;
	/*padding: 50px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-login {
  display: flex;
  /*margin-top: 20px;*/
}

.btn-label {
  flex: 20%;
  /*border: 1px solid black;*/
  margin-left: 50px;
  text-align: left;
} 

.btn-label-checkbox {
  flex: 60%;
  /*border: 1px solid black;*/
  margin-left: 5px;
  text-align: left;
}

.btn-input {
  flex: 80%;
  margin-right: 50px;
  /*border: 1px solid black;*/
  text-align: left;
}

.btn-input-checkbox {
  flex: 40%;
  /*margin-right: 50px;*/
  /*border: 1px solid black;*/
  /*text-align: left;*/
}

.main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
    height: 120%;
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: auto;
    background-color: white;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pageTitle {
    padding-top: 25px;
    padding-bottom: 70px;
    height: 50px;
    text-align: center;
    font-size: 40px;
}

.registerButton{
    color: white;
    font-size: 15px;
    border: none;
    height: 30px;
    width: 150px;
    background-color: gray;
    border-radius: 25px;
  }